<a href="https://colab.research.google.com/github/AlvaroUriel/idal_ia3/blob/main/Test_listar_dataset_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from  google.colab import drive
 
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import os
import numpy as np
import pandas as pd

In [5]:
train_path = '/content/drive/MyDrive/IA3/Datasets/Food-11/training'
test_path   ='/content/drive/MyDrive/IA3/Datasets/Food-11/evaluation'
val_path   = '/content/drive/MyDrive/IA3/Datasets/Food-11/validation'

In [22]:
class_names = ['Bread', 'Dairy product', 'Dessert', 'Egg', 'Fried food',
               'Meat', 'Noodles/Pasta', 'Rice', 'Seafood', 'Soup', 'Vegetable/Fruit']
class_names

['Bread',
 'Dairy product',
 'Dessert',
 'Egg',
 'Fried food',
 'Meat',
 'Noodles/Pasta',
 'Rice',
 'Seafood',
 'Soup',
 'Vegetable/Fruit']

In [23]:
#Creamos listas con todos los nombres de los ficheros 
train_files = [os.path.join(train_path,img) for img in os.listdir(train_path)]
test_files  = [os.path.join(test_path,img)  for img in os.listdir(test_path)]
val_files   = [os.path.join(val_path,img)   for img in os.listdir(val_path)]

In [24]:
#Observamos como estan nombrados los ficheros
print(train_files[0])
print(test_files[0])
print(val_files[0])

/content/drive/MyDrive/IA3/Datasets/Food-11/training/0_869.jpg
/content/drive/MyDrive/IA3/Datasets/Food-11/evaluation/9_242.jpg
/content/drive/MyDrive/IA3/Datasets/Food-11/validation/9_213.jpg

In [26]:
#Creamos listas con la clase del fichero, para cada fichero
train_y = [int(img.split("/")[-1].split("_")[0]) for img in train_files]
test_y  = [int(img.split("/")[-1].split("_")[0]) for img in test_files]
val_y   = [int(img.split("/")[-1].split("_")[0]) for img in val_files]

In [27]:
#Creamos un diccionario para unir las rutas y su clase
d_train_y = {'Rutas':train_files,'Clases':train_y}
d_test_y  = {'Rutas':test_files, 'Clases':test_y}
d_val_y   = {'Rutas':val_files,  'Clases':val_y}

In [30]:
#Convertimos el diccionario a un dataFrame de pandas
df_train_y = pd.DataFrame(d_train_y)
df_test_y  = pd.DataFrame(d_test_y)
df_val_y   = pd.DataFrame(d_val_y)

df_train_y.head(4)

                                               Rutas  Clases
0  /content/drive/MyDrive/IA3/Datasets/Food-11/tr...       0
1  /content/drive/MyDrive/IA3/Datasets/Food-11/tr...       0
2  /content/drive/MyDrive/IA3/Datasets/Food-11/tr...       0
3  /content/drive/MyDrive/IA3/Datasets/Food-11/tr...       0

In [47]:
#Observamos si las clases estan balanceadas en cuanto a número de muestras
print(df_train_y["Clases"].value_counts())
print( df_test_y["Clases"].value_counts())
print(  df_val_y["Clases"].value_counts())

9     1501
2     1501
5     1325
0      996
3      987
8      856
4      848
10     709
6      441
1      429
7      280
Name: Clases, dtype: int64
9     500
2     500
5     432
0     368
3     335
8     303
4     287
10    231
1     148
6     147
7      96
Name: Clases, dtype: int64
9     500
2     500
5     449
0     362
8     347
3     327
4     326
10    232
6     147
1     144
7      96
Name: Clases, dtype: int64

In [48]:
#De la celda anterior podemos ver que no, que hay clases con mas muestras que otras

In [76]:
#Observemos ahora si estan balanceadas las divisiones, train, test y val
total_clases = df_train_y["Clases"].value_counts()+df_test_y["Clases"].value_counts()+df_val_y["Clases"].value_counts()

for index, value in df_train_y["Clases"].value_counts().items():
  print (str(index).zfill(2), str(total_clases[index]).zfill(4),
         '{0:.4f}'.format(df_train_y["Clases"].value_counts()[index] / total_clases[index]),
          '{0:.4f}'.format(df_test_y["Clases"].value_counts()[index] / total_clases[index]),
           '{0:.4f}'.format(df_val_y["Clases"].value_counts()[index] / total_clases[index]))

09 2501 0.6002 0.1999 0.1999
02 2501 0.6002 0.1999 0.1999
05 2206 0.6006 0.1958 0.2035
00 1726 0.5771 0.2132 0.2097
03 1649 0.5985 0.2032 0.1983
08 1506 0.5684 0.2012 0.2304
04 1461 0.5804 0.1964 0.2231
10 1172 0.6049 0.1971 0.1980
06 0735 0.6000 0.2000 0.2000
01 0721 0.5950 0.2053 0.1997
07 0472 0.5932 0.2034 0.2034

In [77]:
#De la celda anterior podemos ver que las divisiones train, test y val sí estan balenceadas
#independientemente de la clase en un (60,20,20) aproximadamente.

In [79]:
#Vamos a probar un clasificador con las clases 1, 3, 6
print(class_names[1])
print(class_names[3])
print(class_names[6])

Dairy product
Egg
Noodles/Pasta

In [108]:
#Vamos a seleccionar solo 200 ficheros de cada clase para que esten las clases balanceadas
n_samples_train = 10

df_train_y_sort=df_train_y[df_train_y['Clases']==1]
list_train_y = df_train_y_sort.iloc[0:n_samples_train, 0].tolist()

df_train_y_sort=df_train_y[df_train_y['Clases']==3]
list_train_y += df_train_y_sort.iloc[0:n_samples_train, 0].tolist()

df_train_y_sort=df_train_y[df_train_y['Clases']==6]
list_train_y += df_train_y_sort.iloc[0:n_samples_train, 0].tolist()

list_train_y

['/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_146.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_193.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_63.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_168.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_217.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_269.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_404.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_306.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_418.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/1_393.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_706.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_112.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_308.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_805.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_529.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_307.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_815.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_748.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_457.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/3_639.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_62.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_154.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_204.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_210.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_74.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_133.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_217.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_209.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_360.jpg',
 '/content/drive/MyDrive/IA3/Datasets/Food-11/training/6_239.jpg']