<a href="https://colab.research.google.com/github/AlvaroUriel/idal_ia3/blob/main/Test_listar_dataset_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from  google.colab import drive
 
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
import os
import numpy as np
import pandas as pd

In [2]:
train_path = '/content/drive/MyDrive/IA3/Datasets/food_3_100_30_30/training'
val_path   = '/content/drive/MyDrive/IA3/Datasets/food_3_100_30_30/validation'
test_path   = '/content/drive/MyDrive/IA3/Datasets/food_3_100_30_30/evaluation'

In [19]:
#Creamos listas con todos los nombres de los ficheros 
train_files = [os.path.join(train_path,img) for img in os.listdir(train_path)]
val_files   = [os.path.join(val_path,img) for img in os.listdir(val_path)]
test_files  = [os.path.join(val_path,img) for img in os.listdir(val_path)]

In [20]:
#Creamos listas con la clase del fichero, para cada fichero
train_y = [int(img.split("/")[-1].split("_")[0]) for img in train_files]

In [ ]:
#Creamos un diccionario para unir las rutas y su clase
d = {'Rutas':train_files,'Clases':train_y}
d

In [24]:
#Convertimos el diccionario a un dataFrame de pandas
miDataSet = pd.DataFrame(d)
miDataSet

                                                 Rutas  Clases
0    /content/drive/MyDrive/IA3/Datasets/food_3_100...       1
1    /content/drive/MyDrive/IA3/Datasets/food_3_100...       1
2    /content/drive/MyDrive/IA3/Datasets/food_3_100...       1
3    /content/drive/MyDrive/IA3/Datasets/food_3_100...       1
4    /content/drive/MyDrive/IA3/Datasets/food_3_100...       1
..                                                 ...     ...
295  /content/drive/MyDrive/IA3/Datasets/food_3_100...       0
296  /content/drive/MyDrive/IA3/Datasets/food_3_100...       0
297  /content/drive/MyDrive/IA3/Datasets/food_3_100...       0
298  /content/drive/MyDrive/IA3/Datasets/food_3_100...       0
299  /content/drive/MyDrive/IA3/Datasets/food_3_100...       0

[300 rows x 2 columns]

In [35]:
#Observamos si las clases estan balanceadas
miDataSet["Clases"].value_counts()

1    100
2    100
0    100
Name: Clases, dtype: int64

In [73]:
#Vamos a seleccionar solo 40 ficheros como prueba
miDataSetSort=miDataSet[miDataSet['Clases']==0]
#miDataSetSort.iloc[0:40, 0].tolist()
miDataSetSort['Rutas'].head(40)

200    /content/drive/MyDrive/IA3/Datasets/food_3_100...
201    /content/drive/MyDrive/IA3/Datasets/food_3_100...
202    /content/drive/MyDrive/IA3/Datasets/food_3_100...
203    /content/drive/MyDrive/IA3/Datasets/food_3_100...
204    /content/drive/MyDrive/IA3/Datasets/food_3_100...
205    /content/drive/MyDrive/IA3/Datasets/food_3_100...
206    /content/drive/MyDrive/IA3/Datasets/food_3_100...
207    /content/drive/MyDrive/IA3/Datasets/food_3_100...
208    /content/drive/MyDrive/IA3/Datasets/food_3_100...
209    /content/drive/MyDrive/IA3/Datasets/food_3_100...
210    /content/drive/MyDrive/IA3/Datasets/food_3_100...
211    /content/drive/MyDrive/IA3/Datasets/food_3_100...
212    /content/drive/MyDrive/IA3/Datasets/food_3_100...
213    /content/drive/MyDrive/IA3/Datasets/food_3_100...
214    /content/drive/MyDrive/IA3/Datasets/food_3_100...
215    /content/drive/MyDrive/IA3/Datasets/food_3_100...
216    /content/drive/MyDrive/IA3/Datasets/food_3_100...
217    /content/drive/MyDrive/IA3/Datasets/food_3_100...
218    /content/drive/MyDrive/IA3/Datasets/food_3_100...
219    /content/drive/MyDrive/IA3/Datasets/food_3_100...
220    /content/drive/MyDrive/IA3/Datasets/food_3_100...
221    /content/drive/MyDrive/IA3/Datasets/food_3_100...
222    /content/drive/MyDrive/IA3/Datasets/food_3_100...
223    /content/drive/MyDrive/IA3/Datasets/food_3_100...
224    /content/drive/MyDrive/IA3/Datasets/food_3_100...
225    /content/drive/MyDrive/IA3/Datasets/food_3_100...
226    /content/drive/MyDrive/IA3/Datasets/food_3_100...
227    /content/drive/MyDrive/IA3/Datasets/food_3_100...
228    /content/drive/MyDrive/IA3/Datasets/food_3_100...
229    /content/drive/MyDrive/IA3/Datasets/food_3_100...
230    /content/drive/MyDrive/IA3/Datasets/food_3_100...
231    /content/drive/MyDrive/IA3/Datasets/food_3_100...
232    /content/drive/MyDrive/IA3/Datasets/food_3_100...
233    /content/drive/MyDrive/IA3/Datasets/food_3_100...
234    /content/drive/MyDrive/IA3/Datasets/food_3_100...
235    /content/drive/MyDrive/IA3/Datasets/food_3_100...
236    /content/drive/MyDrive/IA3/Datasets/food_3_100...
237    /content/drive/MyDrive/IA3/Datasets/food_3_100...
238    /content/drive/MyDrive/IA3/Datasets/food_3_100...
239    /content/drive/MyDrive/IA3/Datasets/food_3_100...
Name: Rutas, dtype: object